R365-Challenge-Calculator/.vs
R365-Challenge-Calculator/CalculatorService/bin
R365-Challenge-Calculator/CalculatorService/obj
R365-Challenge-Calculator/Calculator.Tests/bin
R365-Challenge-Calculator/Calculator.Tests/obj
R365-Challenge-Calculator/R365-Calculator-Console/bin
R365-Challenge-Calculator/R365-Calculator-Console/obj